 .container{
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space;
    color: black;
    border-radius: 20px;
    border: 2px solid #f0f2f3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    height: 300px;
 }
 .container img{
    width: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
 }  
 .sub{
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: black;
   align-items: center;
   width:100%;
 }
 .sub h2{
   font-size: 30px;
 }
.info{
   width:100%;
   padding: 10px;
}
.other{
   display: flex;
   flex-wrap: nowrap;
   margin: 20px;
   gap: 15px;
}
.other p{
   font-size: 20px;
}
.other a{
   font-size: 20px;
}