.container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    height: 500px;
    width: 90%;
    background-color: white;
    color: black;
    border: 2px solid #f0f2f3;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    gap: 5px;
    margin-top: 40px;
    box-sizing: border-box;


}

/* === Car Info Section === */
.carInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    margin-bottom: 20px;
}

.carInfo img {
    width: 250px;
    height: auto;

}

.carInfo h2 {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}

.carInfo h3 {
    margin: 0;
    font-size: 22px;
    font-weight: 550;
}

.priceLabel {
    font-weight: 550;
    color: #2f3ccf;
    font-size: 18px;
}

/* === Additional Info === */
.sub {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-bottom: 20px;

}

/* === Info Section: Grid Layout === */
.info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 200px;
    font-size: 23px;

}

/* === Action Buttons === */
.buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.view {
    background-color: #2f3ccf;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
    font-size: 20px;
}